# Feature engineering

This notebook contains feature engineering part for the following tables:
* master categories
* line items (all available records)
* shipments (all available records)
* addresses

In [410]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import glob

import sys
from os import listdir
from os.path import isfile, join

## Data wrangling

In [3]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items01/*.csv") 
line1 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line1 = line1.drop_duplicates()

line1.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line1.head()
line1.to_csv('line1.csv', index=False)

In [4]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items02/*.csv") 
line2 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line2 = line2.drop_duplicates()

line2.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line2.head()
line2.to_csv('line2.csv', index=False)

In [5]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items03/*.csv") 
line3 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line3 = line3.drop_duplicates()

line3.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line3.to_csv('line3.csv', index=False)

In [6]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items04/*.csv") 
line4 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line4 = line4.drop_duplicates()

line4.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line4.to_csv('line4.csv', index=False)

In [7]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items05/*.csv") 
line5 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line5 = line5.drop_duplicates()

line5.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line5.to_csv('line5.csv', index=False)

In [8]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items06/*.csv") 
line6 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line6 = line6.drop_duplicates()

line6.drop(['item_id','brand_name', 'pricer'], axis='columns', inplace=True)
line6.to_csv('line6.csv', index=False)

In [9]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items07/*.csv") 
line7 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line7 = line7.drop_duplicates()

line7.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line6.to_csv('line7.csv', index=False)

In [10]:
interesting_files = glob.glob("/Users/aigerimshopenova/Desktop/Hackathon_17-18102020/Data/data/line_items08/*.csv") 
line8 = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
line8 = line8.drop_duplicates()

line8.drop(['item_id', 'brand_name', 'pricer'], axis='columns', inplace=True)
line8.to_csv('line8.csv', index=False)

In [11]:
all_lines = pd.concat([line1, line2, line3, line4, line5, line6, line7, line8], ignore_index=True)  # Дата со всеми доставками включая август

In [12]:
all_lines.head()

,shipment_id,master_category_id,created_at,price,discount,quantity,product_id,replaced,cancelled,id,name,parent_category_id
0,387023.0,34.0,2018-03-02 17:23:48,64.989998,0.0,1.0,14840.0,0.0,0.0,NaN,NaN,NaN
1,387023.0,22.0,2018-03-02 17:32:52,22.990000,0.0,1.0,66260.0,0.0,0.0,NaN,NaN,NaN
2,387023.0,22.0,2018-03-02 17:33:24,39.990002,0.0,1.0,85595.0,0.0,0.0,NaN,NaN,NaN
3,387023.0,23.0,2018-03-02 17:34:20,59.990002,0.0,1.0,12892.0,0.0,0.0,NaN,NaN,NaN
4,387023.0,26.0,2018-03-02 17:34:46,48.900002,0.0,1.0,166.0,0.0,0.0,NaN,NaN,NaN

In [13]:
all_lines.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61248803 entries, 0 to 61248802
Data columns (total 12 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   shipment_id         61247787 non-null  float64
 1   master_category_id  60451399 non-null  float64
 2   created_at          61247787 non-null  object
 3   price               61247787 non-null  float64
 4   discount            61247787 non-null  float64
 5   quantity            61247787 non-null  float64
 6   product_id          61247787 non-null  float64
 7   replaced            61247787 non-null  float64
 8   cancelled           61247787 non-null  float64
 9   id                  1016 non-null      float64
 10  name                1016 non-null      object
 11  parent_category_id  1016 non-null      float64
dtypes: float64(10), object(2)
memory usage: 5.5+ GB

In [14]:
%who

all_lines	 glob	 interesting_files	 isfile	 join	 line1	 line2	 line3	 line4
line5	 line6	 line7	 line8	 listdir	 np	 os	 pd	 plt
sns	 sys

In [15]:
del line1
del line2
del line3
del line4
del line5
del line6
del line7
del line8
del interesting_files

In [17]:
%who

all_lines	 glob	 isfile	 join	 listdir	 np	 os	 pd	 plt
sns	 sys

In [18]:
# Read master categories and adresses
master_categories = pd.read_csv('master_categories.csv')
adresses = pd.read_csv('addresses.csv')

In [19]:
# Read file with all shipments
shipments = pd.read_csv('shipments_all.csv')

## Data engineering

In [20]:
all_lines.describe()

,shipment_id,master_category_id,price,discount,quantity,product_id,replaced,cancelled,id,parent_category_id
count,6.124779e+07,6.045140e+07,6.124779e+07,6.124779e+07,6.124779e+07,6.124779e+07,6.124779e+07,6.124779e+07,1016.000000,1.016000e+03
mean,6.112126e+06,2.611432e+02,1.334067e+02,2.138803e+01,1.585272e+00,1.905728e+06,4.451826e-02,4.311119e-02,508.500000,2.067271e+06
std,2.170224e+06,2.398796e+02,5.461087e+02,4.697550e+02,4.403134e+00,2.679520e+06,2.062435e-01,2.031074e-01,293.438239,6.588316e+07
min,1.781630e+05,1.500000e+01,0.000000e+00,-6.010000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00
25%,4.513450e+06,6.100000e+01,4.990000e+01,0.000000e+00,1.000000e+00,2.486600e+04,0.000000e+00,0.000000e+00,254.750000,1.560000e+02
50%,6.144482e+06,1.320000e+02,8.500000e+01,0.000000e+00,1.000000e+00,7.200600e+04,0.000000e+00,0.000000e+00,508.500000,3.920000e+02
75%,7.883829e+06,5.810000e+02,1.570000e+02,1.669000e+01,1.000000e+00,4.276072e+06,0.000000e+00,0.000000e+00,762.250000,5.080000e+02
max,9.915272e+06,1.013000e+03,9.867690e+05,2.091940e+06,5.721000e+03,1.575921e+07,1.000000e+00,1.000000e+00,1016.000000,2.100010e+09

In [21]:
# Let us calculate 'total_receipt' by quantity * price
all_lines['receipt'] = all_lines['price'] * all_lines['quantity']

In [28]:
# Get number of shipped items
ship_number = all_lines.groupby(['shipment_id']).size().reset_index(name='shipped_item_count')

In [29]:
ship_number.head()

   shipment_id  shipped_item_count
0     178163.0                  31
1     273988.0                  81
2     322307.0                  24
3     337809.0                  45
4     351762.0                  54

In [30]:
ship_number.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266599 entries, 0 to 2266598
Data columns (total 2 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   shipment_id         2266599 non-null  float64
 1   shipped_item_count  2266599 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 34.6 MB

In [31]:
all_lines_agg = all_lines.groupby(['shipment_id']).agg({'receipt':'sum', 'discount':'sum', 'replaced':'sum', 'cancelled':'sum'})

In [32]:
all_lines_agg.head()

                  receipt     discount  replaced  cancelled
shipment_id
178163.0      9250.090002   771.759991       0.0        7.0
273988.0     36924.060050  2152.390018       4.0        9.0
322307.0      3579.300032   284.900002       0.0        1.0
337809.0      8884.640038   543.239995       2.0        0.0
351762.0      8297.440020   588.820007       0.0        0.0

In [34]:
all_lines_agg.rename(columns={'receipt':'total_receipt', 'dicount':'total_discount'}, inplace=True)

In [36]:
all_lines_agg.describe()

       total_receipt      discount      replaced     cancelled
count   2.266599e+06  2.266599e+06  2.266599e+06  2.266599e+06
mean    4.612331e+03  5.779451e+02  1.202968e+00  1.164946e+00
std     6.021832e+03  2.560887e+03  1.769575e+00  1.906352e+00
min     2.793000e+01 -4.525100e+02  0.000000e+00  0.000000e+00
25%     2.215540e+03  9.024000e+01  0.000000e+00  0.000000e+00
50%     3.482520e+03  3.168000e+02  1.000000e+00  0.000000e+00
75%     5.572790e+03  7.382800e+02  2.000000e+00  2.000000e+00
max     1.546364e+06  2.092505e+06  5.200000e+01  1.120000e+02

In [38]:
# Concatenate number of items per shipment to the aggregatred dataframe
all_lines_final = pd.merge(all_lines_agg, ship_number, left_on='shipment_id', right_on='shipment_id', how='left')

In [39]:
all_lines_final.describe()

,shipment_id,total_receipt,discount,replaced,cancelled,shipped_item_count
count,2.266599e+06,2.266599e+06,2.266599e+06,2.266599e+06,2.266599e+06,2.266599e+06
mean,6.389017e+06,4.612331e+03,5.779451e+02,1.202968e+00,1.164946e+00,2.702189e+01
std,2.193799e+06,6.021832e+03,2.560887e+03,1.769575e+00,1.906352e+00,2.026556e+01
min,1.781630e+05,2.793000e+01,-4.525100e+02,0.000000e+00,0.000000e+00,1.000000e+00
25%,4.824036e+06,2.215540e+03,9.024000e+01,0.000000e+00,0.000000e+00,1.400000e+01
50%,6.579819e+06,3.482520e+03,3.168000e+02,1.000000e+00,0.000000e+00,2.300000e+01
75%,8.211286e+06,5.572790e+03,7.382800e+02,2.000000e+00,2.000000e+00,3.500000e+01
max,9.915272e+06,1.546364e+06,2.092505e+06,5.200000e+01,1.120000e+02,1.312000e+03

In [40]:
all_lines_final.isnull().sum().sum()

0

In [41]:
all_lines_final['shipment_id'].nunique()

2266599

In [42]:
all_lines_final.shape

(2266599, 6)

In [43]:
# Concatenate data of shipments
li_ship = pd.merge(all_lines_final, shipments, left_on='shipment_id', right_on='shipment_id', how='left')

In [500]:
# Concatenate addresses
master = pd.merge(li_ship, adresses, left_on='ship_address_id', right_on='id', how='left')

In [501]:
master.head()

,shipment_id,total_receipt,discount,replaced,cancelled,shipped_item_count,user_id,ship_address_id,order_id,order_created_at,...,total_cost,rate,dw_kind,promo_total,total_weight,platform,os,shipped_at,id,phone_id
0,178163.0,9250.090002,771.759991,0.0,7.0,31,4077.0,4058639.0,1291559.0,2017-05-10 10:16:41,...,158.0,0.0,courier,0.0,27610.0,web,windows,NaN,4058639.0,378928.0
1,273988.0,36924.060050,2152.390018,4.0,9.0,81,1880213.0,119282.0,2716025.0,2017-10-15 05:58:30,...,423.0,0.0,courier,0.0,88925.0,app,ios,2020-05-18 08:11:48,119282.0,54795.0
2,322307.0,3579.300032,284.900002,0.0,1.0,24,11019.0,171906.0,2156687.0,2017-08-03 21:25:23,...,168.0,0.0,courier,0.0,30170.0,web,windows,2020-02-20 08:08:54,171906.0,78177.0
3,337809.0,8884.640038,543.239995,2.0,0.0,45,44708.0,166772.0,2895562.0,2017-12-01 13:10:12,...,0.0,0.0,courier,0.0,17110.0,web,linux,2020-05-06 06:52:10,166772.0,78172.0
4,351762.0,8297.440020,588.820007,0.0,0.0,54,53887.0,158025.0,2961482.0,2018-01-28 13:49:33,...,98.0,0.0,courier,-300.0,27310.0,web,windows,2020-06-05 10:17:31,158025.0,78167.0

In [502]:
master.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2338537 entries, 0 to 2338536
Data columns (total 27 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   shipment_id         2338537 non-null  float64
 1   total_receipt       2338537 non-null  float64
 2   discount            2338537 non-null  float64
 3   replaced            2338537 non-null  float64
 4   cancelled           2338537 non-null  float64
 5   shipped_item_count  2338537 non-null  int64
 6   user_id             2331693 non-null  float64
 7   ship_address_id     2331693 non-null  float64
 8   order_id            2331693 non-null  float64
 9   order_created_at    2331693 non-null  object
 10  order_completed_at  2331693 non-null  object
 11  shipment_starts_at  2331693 non-null  object
 12  retailer            2331693 non-null  object
 13  s.order_state       2331693 non-null  object
 14  shipment_state      2324273 non-null  object
 15  s.city_name         2331693 non-null  object
 16  s.store_id          2331693 non-null  float64
 17  total_cost          2331693 non-null  float64
 18  rate                2331693 non-null  float64
 19  dw_kind             2331693 non-null  object
 20  promo_total         2331693 non-null  float64
 21  total_weight        2331693 non-null  float64
 22  platform            2331647 non-null  object
 23  os                  2331647 non-null  object
 24  shipped_at          2142424 non-null  object
 25  id                  2331693 non-null  float64
 26  phone_id            2331693 non-null  float64
dtypes: float64(15), int64(1), object(11)
memory usage: 499.6+ MB

In [503]:
# Change datatype
master['order_completed_at'] = pd.to_datetime(master['order_completed_at'])
master['order_created_at'] = pd.to_datetime(master['order_created_at'])
master['shipped_at'] = pd.to_datetime(master['shipped_at'])
master['shipment_starts_at'] = pd.to_datetime(master['shipment_starts_at'])

In [504]:
master['order_completed_month'] = master.order_completed_at.dt.strftime('%B')

In [505]:
master['time_delivery_h'] = (master['shipped_at'] - master['order_completed_at']).astype('timedelta64[h]')
master['time_shipment_h'] = (master['shipment_starts_at'] - master['shipment_starts_at']).astype('timedelta64[h]')

In [506]:
master.describe()

,shipment_id,total_receipt,discount,replaced,cancelled,shipped_item_count,user_id,ship_address_id,order_id,s.store_id,total_cost,rate,promo_total,total_weight,id,phone_id,time_delivery_h,time_shipment_h
count,2.338537e+06,2.338537e+06,2.338537e+06,2.338537e+06,2.338537e+06,2.338537e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.331693e+06,2.142424e+06,2331693.0
mean,6.394000e+06,4.612926e+03,5.794045e+02,1.194333e+00,1.164269e+00,2.699065e+01,1.418035e+06,7.797876e+06,1.080349e+07,1.434444e+02,1.147192e+02,2.938525e+00,-7.950516e+01,1.627973e+04,7.797876e+06,2.025602e+05,1.539942e+01,0.0
std,2.188507e+06,6.005811e+03,2.528273e+03,1.761626e+00,1.907131e+00,2.034332e+01,7.154058e+05,2.710416e+06,2.866577e+06,9.682320e+01,8.303738e+01,2.390193e+00,2.171612e+02,1.471379e+04,2.710416e+06,1.843591e+05,2.362539e+01,0.0
min,1.781630e+05,2.793000e+01,-4.525100e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.400000e+03,8.531000e+03,3.217000e+03,1.000000e+00,0.000000e+00,0.000000e+00,-2.500000e+04,0.000000e+00,8.531000e+03,2.000000e+00,0.000000e+00,0.0
25%,4.837895e+06,2.213940e+03,8.999000e+01,0.000000e+00,0.000000e+00,1.400000e+01,8.889150e+05,5.799141e+06,8.623169e+06,8.600000e+01,9.000000e+00,0.000000e+00,-1.500000e+02,7.496000e+03,5.799141e+06,5.638900e+04,3.000000e+00,0.0
50%,6.583652e+06,3.479980e+03,3.164000e+02,1.000000e+00,0.000000e+00,2.300000e+01,1.462784e+06,8.027076e+06,1.096605e+07,1.300000e+02,1.580000e+02,5.000000e+00,0.000000e+00,1.267000e+04,8.027076e+06,1.412090e+05,8.000000e+00,0.0
75%,8.209140e+06,5.571380e+03,7.392000e+02,2.000000e+00,2.000000e+00,3.500000e+01,1.935626e+06,1.002086e+07,1.319008e+07,1.890000e+02,1.580000e+02,5.000000e+00,0.000000e+00,2.069500e+04,1.002086e+07,3.058000e+05,1.800000e+01,0.0
max,9.915272e+06,1.546364e+06,2.092505e+06,5.200000e+01,1.120000e+02,1.312000e+03,2.925252e+06,1.253858e+07,1.590612e+07,7.260000e+02,1.250900e+04,5.000000e+00,0.000000e+00,2.502000e+06,1.253858e+07,7.193740e+05,1.768000e+03,0.0

In [507]:
master['order_completed_month'].value_counts()

May         456648
August      441287
July        434049
June        430125
April       265152
March       160844
February     82466
January      61117
December         5
Name: order_completed_month, dtype: int64

In [508]:
master['order_completed_hour_of_day'] = master.order_completed_at.dt.strftime('%H')
master['order_completed_day_of_week'] = master.order_completed_at.dt.strftime('%A')

In [509]:
master.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2338537 entries, 0 to 2338536
Data columns (total 32 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   shipment_id                  2338537 non-null  float64
 1   total_receipt                2338537 non-null  float64
 2   discount                     2338537 non-null  float64
 3   replaced                     2338537 non-null  float64
 4   cancelled                    2338537 non-null  float64
 5   shipped_item_count           2338537 non-null  int64
 6   user_id                      2331693 non-null  float64
 7   ship_address_id              2331693 non-null  float64
 8   order_id                     2331693 non-null  float64
 9   order_created_at             2331693 non-null  datetime64[ns]
 10  order_completed_at           2331693 non-null  datetime64[ns]
 11  shipment_starts_at           2331693 non-null  datetime64[ns]
 12  retailer                     2331693 non-null  object
 13  s.order_state                2331693 non-null  object
 14  shipment_state               2324273 non-null  object
 15  s.city_name                  2331693 non-null  object
 16  s.store_id                   2331693 non-null  float64
 17  total_cost                   2331693 non-null  float64
 18  rate                         2331693 non-null  float64
 19  dw_kind                      2331693 non-null  object
 20  promo_total                  2331693 non-null  float64
 21  total_weight                 2331693 non-null  float64
 22  platform                     2331647 non-null  object
 23  os                           2331647 non-null  object
 24  shipped_at                   2142424 non-null  datetime64[ns]
 25  id                           2331693 non-null  float64
 26  phone_id                     2331693 non-null  float64
 27  order_completed_month        2331693 non-null  object
 28  time_delivery_h              2142424 non-null  float64
 29  time_shipment_h              2331693 non-null  float64
 30  order_completed_hour_of_day  2331693 non-null  object
 31  order_completed_day_of_week  2331693 non-null  object
dtypes: datetime64[ns](4), float64(17), int64(1), object(10)
memory usage: 588.8+ MB

In [510]:
master.head()

,shipment_id,total_receipt,discount,replaced,cancelled,shipped_item_count,user_id,ship_address_id,order_id,order_created_at,...,platform,os,shipped_at,id,phone_id,order_completed_month,time_delivery_h,time_shipment_h,order_completed_hour_of_day,order_completed_day_of_week
0,178163.0,9250.090002,771.759991,0.0,7.0,31,4077.0,4058639.0,1291559.0,2017-05-10 10:16:41,...,web,windows,NaT,4058639.0,378928.0,March,NaN,0.0,11,Friday
1,273988.0,36924.060050,2152.390018,4.0,9.0,81,1880213.0,119282.0,2716025.0,2017-10-15 05:58:30,...,app,ios,2020-05-18 08:11:48,119282.0,54795.0,May,18.0,0.0,13,Sunday
2,322307.0,3579.300032,284.900002,0.0,1.0,24,11019.0,171906.0,2156687.0,2017-08-03 21:25:23,...,web,windows,2020-02-20 08:08:54,171906.0,78177.0,February,42.0,0.0,14,Tuesday
3,337809.0,8884.640038,543.239995,2.0,0.0,45,44708.0,166772.0,2895562.0,2017-12-01 13:10:12,...,web,linux,2020-05-06 06:52:10,166772.0,78172.0,May,18.0,0.0,12,Tuesday
4,351762.0,8297.440020,588.820007,0.0,0.0,54,53887.0,158025.0,2961482.0,2018-01-28 13:49:33,...,web,windows,2020-06-05 10:17:31,158025.0,78167.0,June,11.0,0.0,22,Thursday

In [511]:
# Drop data from Decemeber
master_clean = master[master['order_completed_month'] != 'December']

In [512]:
master_clean['order_completed_month'].value_counts()

May         456648
August      441287
July        434049
June        430125
April       265152
March       160844
February     82466
January      61117
Name: order_completed_month, dtype: int64

In [513]:
master_clean['order_completed_day_of_week'].replace({'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 
                                                     'Thursday': 4, 'Friday': 5, 'Saturday': 6,
                                                     'Sunday': 7}, inplace=True)

/Users/aigerimshopenova/opt/anaconda3/envs/udacity_ds_nanodegree/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [514]:
master_clean['order_completed_day_of_week'].dtype

dtype('float64')

In [515]:
master_clean['order_completed_day_of_week'].value_counts()

5.0    364012
4.0    361525
6.0    346501
7.0    327825
1.0    317980
3.0    308862
2.0    304983
Name: order_completed_day_of_week, dtype: int64

In [516]:
master_clean.head()

,shipment_id,total_receipt,discount,replaced,cancelled,shipped_item_count,user_id,ship_address_id,order_id,order_created_at,...,platform,os,shipped_at,id,phone_id,order_completed_month,time_delivery_h,time_shipment_h,order_completed_hour_of_day,order_completed_day_of_week
0,178163.0,9250.090002,771.759991,0.0,7.0,31,4077.0,4058639.0,1291559.0,2017-05-10 10:16:41,...,web,windows,NaT,4058639.0,378928.0,March,NaN,0.0,11,5.0
1,273988.0,36924.060050,2152.390018,4.0,9.0,81,1880213.0,119282.0,2716025.0,2017-10-15 05:58:30,...,app,ios,2020-05-18 08:11:48,119282.0,54795.0,May,18.0,0.0,13,7.0
2,322307.0,3579.300032,284.900002,0.0,1.0,24,11019.0,171906.0,2156687.0,2017-08-03 21:25:23,...,web,windows,2020-02-20 08:08:54,171906.0,78177.0,February,42.0,0.0,14,2.0
3,337809.0,8884.640038,543.239995,2.0,0.0,45,44708.0,166772.0,2895562.0,2017-12-01 13:10:12,...,web,linux,2020-05-06 06:52:10,166772.0,78172.0,May,18.0,0.0,12,2.0
4,351762.0,8297.440020,588.820007,0.0,0.0,54,53887.0,158025.0,2961482.0,2018-01-28 13:49:33,...,web,windows,2020-06-05 10:17:31,158025.0,78167.0,June,11.0,0.0,22,4.0

In [517]:
master_clean.columns

Index(['shipment_id', 'total_receipt', 'discount', 'replaced', 'cancelled',
       'shipped_item_count', 'user_id', 'ship_address_id', 'order_id',
       'order_created_at', 'order_completed_at', 'shipment_starts_at',
       'retailer', 's.order_state', 'shipment_state', 's.city_name',
       's.store_id', 'total_cost', 'rate', 'dw_kind', 'promo_total',
       'total_weight', 'platform', 'os', 'shipped_at', 'id', 'phone_id',
       'order_completed_month', 'time_delivery_h', 'time_shipment_h',
       'order_completed_hour_of_day', 'order_completed_day_of_week'],
      dtype='object')

In [518]:
master_clean['os'].value_counts()

ios        956421
android    897567
windows    374178
mac         66067
other       28058
linux        9351
Name: os, dtype: int64

In [519]:
master_clean['platform'].value_counts()

app    1812886
web     518756
Name: platform, dtype: int64

In [520]:
# Replace ios = 1, android = 2, windows = 3, mac = 4, linux = 5, other = 6
master_clean['os'].replace({'ios': 1, 'android': 2, 'windows': 3, 'mac': 4, 'linux': 5, 'other': 6}, inplace=True)

/Users/aigerimshopenova/opt/anaconda3/envs/udacity_ds_nanodegree/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [521]:
# Replace platform app=1, web=2
master_clean['platform'].replace({'app': 1, 'web': 2}, inplace=True)

In [522]:
# Replace dw_kind 
master_clean['dw_kind'].replace({'courier': 1, 'pickup': 2, 'express_delivery':3}, inplace=True)

In [523]:
master_clean['os'].value_counts()

1.0    956421
2.0    897567
3.0    374178
4.0     66067
6.0     28058
5.0      9351
Name: os, dtype: int64

In [524]:
master_clean['platform'].value_counts()

1.0    1812886
2.0     518756
Name: platform, dtype: int64

In [525]:
master_clean['dw_kind'].value_counts()

1.0    2323255
2.0       6423
3.0       2010
Name: dw_kind, dtype: int64

In [526]:
master_clean.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2338532 entries, 0 to 2338536
Data columns (total 32 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   shipment_id                  2338532 non-null  float64
 1   total_receipt                2338532 non-null  float64
 2   discount                     2338532 non-null  float64
 3   replaced                     2338532 non-null  float64
 4   cancelled                    2338532 non-null  float64
 5   shipped_item_count           2338532 non-null  int64
 6   user_id                      2331688 non-null  float64
 7   ship_address_id              2331688 non-null  float64
 8   order_id                     2331688 non-null  float64
 9   order_created_at             2331688 non-null  datetime64[ns]
 10  order_completed_at           2331688 non-null  datetime64[ns]
 11  shipment_starts_at           2331688 non-null  datetime64[ns]
 12  retailer                     2331688 non-null  object
 13  s.order_state                2331688 non-null  object
 14  shipment_state               2324268 non-null  object
 15  s.city_name                  2331688 non-null  object
 16  s.store_id                   2331688 non-null  float64
 17  total_cost                   2331688 non-null  float64
 18  rate                         2331688 non-null  float64
 19  dw_kind                      2331688 non-null  float64
 20  promo_total                  2331688 non-null  float64
 21  total_weight                 2331688 non-null  float64
 22  platform                     2331642 non-null  float64
 23  os                           2331642 non-null  float64
 24  shipped_at                   2142421 non-null  datetime64[ns]
 25  id                           2331688 non-null  float64
 26  phone_id                     2331688 non-null  float64
 27  order_completed_month        2331688 non-null  object
 28  time_delivery_h              2142421 non-null  float64
 29  time_shipment_h              2331688 non-null  float64
 30  order_completed_hour_of_day  2331688 non-null  object
 31  order_completed_day_of_week  2331688 non-null  float64
dtypes: datetime64[ns](4), float64(21), int64(1), object(6)
memory usage: 588.8+ MB

In [527]:
master_clean['shipment_state'].value_counts()

shipped          2142596
canceled          179066
collecting           862
ready                801
ready_to_ship        583
shipping             330
pending               30
Name: shipment_state, dtype: int64

In [528]:
master_clean['rate'].value_counts()

5.0    1253391
0.0     902048
4.0     106699
3.0      39083
1.0      20210
2.0      10257
Name: rate, dtype: int64

In [529]:
# Change shipment_state cancelled = 0, pending=0, shipped and others = 1
master_clean['shipment_state'].replace({'canceled': 0, 'shipped': 1, 'collecting': 1,
                                       'ready': 1, 'ready_to_ship': 1, 
                                       'shipping': 1, 'pending': 0}, inplace=True)

In [530]:
master_clean['shipment_state'].value_counts()

1.0    2145172
0.0     179096
Name: shipment_state, dtype: int64

In [531]:
master_clean['month_order_completed_tr'] = pd.to_datetime(master_clean['order_completed_at']).dt.to_period('M')

/Users/aigerimshopenova/opt/anaconda3/envs/udacity_ds_nanodegree/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [532]:
master_clean.head()

,shipment_id,total_receipt,discount,replaced,cancelled,shipped_item_count,user_id,ship_address_id,order_id,order_created_at,...,os,shipped_at,id,phone_id,order_completed_month,time_delivery_h,time_shipment_h,order_completed_hour_of_day,order_completed_day_of_week,month_order_completed_tr
0,178163.0,9250.090002,771.759991,0.0,7.0,31,4077.0,4058639.0,1291559.0,2017-05-10 10:16:41,...,3.0,NaT,4058639.0,378928.0,March,NaN,0.0,11,5.0,2020-03
1,273988.0,36924.060050,2152.390018,4.0,9.0,81,1880213.0,119282.0,2716025.0,2017-10-15 05:58:30,...,1.0,2020-05-18 08:11:48,119282.0,54795.0,May,18.0,0.0,13,7.0,2020-05
2,322307.0,3579.300032,284.900002,0.0,1.0,24,11019.0,171906.0,2156687.0,2017-08-03 21:25:23,...,3.0,2020-02-20 08:08:54,171906.0,78177.0,February,42.0,0.0,14,2.0,2020-02
3,337809.0,8884.640038,543.239995,2.0,0.0,45,44708.0,166772.0,2895562.0,2017-12-01 13:10:12,...,5.0,2020-05-06 06:52:10,166772.0,78172.0,May,18.0,0.0,12,2.0,2020-05
4,351762.0,8297.440020,588.820007,0.0,0.0,54,53887.0,158025.0,2961482.0,2018-01-28 13:49:33,...,3.0,2020-06-05 10:17:31,158025.0,78167.0,June,11.0,0.0,22,4.0,2020-06

In [533]:
master_clean['order_completed_hour_of_day'].value_counts()

09    171715
10    170440
11    166818
08    165592
12    154077
07    150343
13    141808
14    132793
06    126716
15    115417
16    107427
17    103262
18     99872
05     96183
19     94784
20     78088
04     63212
21     51182
03     39312
22     29336
02     23610
23     20266
01     15638
00     13797
Name: order_completed_hour_of_day, dtype: int64

Not the best approach, but it works 😅

In [534]:
master_clean['order_completed_hour_of_day'].replace({'00': 0,
                                                     '01': 1, 
                                                     '02': 2,
                                                     '03': 3,
                                                     '04': 4,
                                                     '05': 5,
                                                     '06': 6,
                                                     '07': 7,
                                                     '08': 8,
                                                     '09': 9,
                                                     '10': 10,
                                                     '11': 11,
                                                     '12': 12,
                                                     '13': 13, 
                                                     '14': 14, 
                                                     '15': 15, 
                                                     '16': 16,
                                                     '17': 17,
                                                     '18': 18,
                                                     '19': 19,
                                                     '20': 20,
                                                     '21': 21,
                                                     '22': 22,
                                                     '23': 23,
                                                     '24': 24}, inplace=True)

/Users/aigerimshopenova/opt/anaconda3/envs/udacity_ds_nanodegree/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [535]:
master_clean['order_completed_hour_of_day'].dtype

dtype('float64')

In [536]:
master_clean['order_completed_hour_of_day'].value_counts()

9.0     171715
10.0    170440
11.0    166818
8.0     165592
12.0    154077
7.0     150343
13.0    141808
14.0    132793
6.0     126716
15.0    115417
16.0    107427
17.0    103262
18.0     99872
5.0      96183
19.0     94784
20.0     78088
4.0      63212
21.0     51182
3.0      39312
22.0     29336
2.0      23610
23.0     20266
1.0      15638
0.0      13797
Name: order_completed_hour_of_day, dtype: int64

In [537]:
master_clean['order_completed_day_of_week'].dtype

dtype('float64')

In [538]:
master_clean['order_completed_day_of_week'].value_counts()

5.0    364012
4.0    361525
6.0    346501
7.0    327825
1.0    317980
3.0    308862
2.0    304983
Name: order_completed_day_of_week, dtype: int64

In [539]:
master_clean['rate'].value_counts()

5.0    1253391
0.0     902048
4.0     106699
3.0      39083
1.0      20210
2.0      10257
Name: rate, dtype: int64

In [540]:
master_clean['rate'].dtype

dtype('float64')

In [541]:
rate = master_clean[master_clean['rate'] != 0.0]

In [542]:
rate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436484 entries, 8 to 2338260
Data columns (total 33 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   shipment_id                  1436484 non-null  float64
 1   total_receipt                1436484 non-null  float64
 2   discount                     1436484 non-null  float64
 3   replaced                     1436484 non-null  float64
 4   cancelled                    1436484 non-null  float64
 5   shipped_item_count           1436484 non-null  int64
 6   user_id                      1429640 non-null  float64
 7   ship_address_id              1429640 non-null  float64
 8   order_id                     1429640 non-null  float64
 9   order_created_at             1429640 non-null  datetime64[ns]
 10  order_completed_at           1429640 non-null  datetime64[ns]
 11  shipment_starts_at           1429640 non-null  datetime64[ns]
 12  retailer                     1429640 non-null  object
 13  s.order_state                1429640 non-null  object
 14  shipment_state               1429640 non-null  float64
 15  s.city_name                  1429640 non-null  object
 16  s.store_id                   1429640 non-null  float64
 17  total_cost                   1429640 non-null  float64
 18  rate                         1429640 non-null  float64
 19  dw_kind                      1429640 non-null  float64
 20  promo_total                  1429640 non-null  float64
 21  total_weight                 1429640 non-null  float64
 22  platform                     1429614 non-null  float64
 23  os                           1429614 non-null  float64
 24  shipped_at                   1429524 non-null  datetime64[ns]
 25  id                           1429640 non-null  float64
 26  phone_id                     1429640 non-null  float64
 27  order_completed_month        1429640 non-null  object
 28  time_delivery_h              1429524 non-null  float64
 29  time_shipment_h              1429640 non-null  float64
 30  order_completed_hour_of_day  1429640 non-null  float64
 31  order_completed_day_of_week  1429640 non-null  float64
 32  month_order_completed_tr     1429640 non-null  period[M]
dtypes: datetime64[ns](4), float64(23), int64(1), object(4), period[M](1)
memory usage: 372.6+ MB

In [543]:
rate_agg = rate.groupby(['phone_id', 'month_order_completed_tr']).agg({'rate': 'mean'})

In [544]:
rate_agg.reset_index(inplace=True)

In [545]:
rate_agg.head()

   phone_id month_order_completed_tr  rate
0       3.0                  2020-03   5.0
1       3.0                  2020-05   1.0
2       3.0                  2020-07   5.0
3       4.0                  2020-04   5.0
4       4.0                  2020-05   4.0

In [546]:
rate_agg.rename(columns={'rate': 'avg_rate'}, inplace=True)

In [547]:
rate_agg.head()

   phone_id month_order_completed_tr  avg_rate
0       3.0                  2020-03       5.0
1       3.0                  2020-05       1.0
2       3.0                  2020-07       5.0
3       4.0                  2020-04       5.0
4       4.0                  2020-05       4.0

In [548]:
rate_agg.to_csv('rate_feature.csv', index=False)

In [549]:
# Group by phone_id and order completed month
master_agg = master_clean.groupby(['phone_id', 'month_order_completed_tr']).agg({'shipment_id':'count',
                                                                              'total_receipt': 'sum',
                                                                              'total_cost': 'sum',
                                                                              'discount':'sum', 
                                                                              'replaced':'sum',
                                                                              'cancelled':'sum',
                                                                              'shipped_item_count': 'sum',
                                                                              'promo_total':'sum',
                                                                              'platform': 'count',
                                                                              'os': 'count', 
                                                                              'dw_kind':'count',
                                                                              'ship_address_id': 'count',
                                                                              'shipment_state': 'mean',
                                                                              'time_delivery_h': 'mean',
                                                                              'time_shipment_h': 'mean',
                                                                              'order_completed_hour_of_day': 'mean',
                                                                              'order_completed_day_of_week': 'count',
                                                                              's.store_id': 'count'
                                                                             })

In [550]:
# Rename columns
master_agg.rename(columns={
                            'order_completed_hour_of_day': 'avg_hour_of_a_day_to_complete_order',
                            'order_completed_day_of_week': 'unique_days_of_week_to_complete_order',
                            'rate': 'avg_rate',
                            's.store_id': 'unique_store_id',
                            'shipment_id': 'shipment_number',
                            'month_order_completed_tr': 'month_order_completed',
                            'discount': 'total_discount',
                            'replaced': 'total_replaced',
                            'cancelled': 'total_cancelled',
                            'platform': 'used_unique_platforms',
                            'os': 'used_unique_os',
                            'dw_kind': 'unique_dw_kind',
                            'ship_address_id': 'unique_ship_address_id',
                            'shipment_state': 'unique_shipment_state',
                            'time_delivery_h': 'avg_time_spent_on_delivery',
                            'time_shipment_h': 'avg_time_spent_on_shipment'}, inplace=True)

In [551]:
master_agg.reset_index(inplace=True)

In [552]:
master_agg.head()

,phone_id,month_order_completed_tr,shipment_number,total_receipt,total_cost,total_discount,total_replaced,total_cancelled,shipped_item_count,promo_total,used_unique_platforms,used_unique_os,unique_dw_kind,unique_ship_address_id,unique_shipment_state,avg_time_spent_on_delivery,avg_time_spent_on_shipment,avg_hour_of_a_day_to_complete_order,unique_days_of_week_to_complete_order,unique_store_id
0,2.0,2020-01,1,4184.310007,98.0,1483.779999,0.0,1.0,29,0.0,1,1,1,1,1.0,2.0,0.0,10.0,1,1
1,2.0,2020-02,2,7071.740047,366.0,1284.839994,2.0,1.0,64,0.0,2,2,2,2,1.0,4.5,0.0,10.5,2,2
2,2.0,2020-03,1,5085.780035,233.0,1077.389990,2.0,0.0,45,0.0,1,1,1,1,1.0,18.0,0.0,12.0,1,1
3,2.0,2020-05,1,6323.230021,248.0,825.089998,5.0,3.0,47,0.0,1,1,1,1,1.0,11.0,0.0,7.0,1,1
4,3.0,2020-03,2,8038.860060,0.0,3736.220008,1.0,5.0,84,0.0,2,2,2,2,1.0,18.0,0.0,1.5,2,2

In [553]:
master_agg.shape

(1155509, 20)

In [554]:
master_agg_final = pd.merge(master_agg, rate_agg, left_on=['phone_id', 'month_order_completed_tr'],
                            right_on=['phone_id', 'month_order_completed_tr'], how='left')

In [555]:
master_agg_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1155509 entries, 0 to 1155508
Data columns (total 21 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   phone_id                               1155509 non-null  float64
 1   month_order_completed_tr               1155509 non-null  period[M]
 2   shipment_number                        1155509 non-null  int64
 3   total_receipt                          1155509 non-null  float64
 4   total_cost                             1155509 non-null  float64
 5   total_discount                         1155509 non-null  float64
 6   total_replaced                         1155509 non-null  float64
 7   total_cancelled                        1155509 non-null  float64
 8   shipped_item_count                     1155509 non-null  int64
 9   promo_total                            1155509 non-null  float64
 10  used_unique_platforms                  1155509 non-null  int64
 11  used_unique_os                         1155509 non-null  int64
 12  unique_dw_kind                         1155509 non-null  int64
 13  unique_ship_address_id                 1155509 non-null  int64
 14  unique_shipment_state                  1153915 non-null  float64
 15  avg_time_spent_on_delivery             1117827 non-null  float64
 16  avg_time_spent_on_shipment             1155509 non-null  float64
 17  avg_hour_of_a_day_to_complete_order    1155509 non-null  float64
 18  unique_days_of_week_to_complete_order  1155509 non-null  int64
 19  unique_store_id                        1155509 non-null  int64
 20  avg_rate                               767655 non-null   float64
dtypes: float64(12), int64(8), period[M](1)
memory usage: 193.9 MB

In [556]:
# Fill Null values with average
master_agg_final.avg_time_spent_on_delivery = master_agg_final.groupby('phone_id')['avg_time_spent_on_delivery'].apply(lambda x: x.fillna(x.mean()))
master_agg_final.avg_time_spent_on_delivery = master_agg_final.avg_time_spent_on_delivery.fillna(master_agg_final.avg_time_spent_on_delivery.mean())

In [557]:
master_agg_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1155509 entries, 0 to 1155508
Data columns (total 21 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   phone_id                               1155509 non-null  float64
 1   month_order_completed_tr               1155509 non-null  period[M]
 2   shipment_number                        1155509 non-null  int64
 3   total_receipt                          1155509 non-null  float64
 4   total_cost                             1155509 non-null  float64
 5   total_discount                         1155509 non-null  float64
 6   total_replaced                         1155509 non-null  float64
 7   total_cancelled                        1155509 non-null  float64
 8   shipped_item_count                     1155509 non-null  int64
 9   promo_total                            1155509 non-null  float64
 10  used_unique_platforms                  1155509 non-null  int64
 11  used_unique_os                         1155509 non-null  int64
 12  unique_dw_kind                         1155509 non-null  int64
 13  unique_ship_address_id                 1155509 non-null  int64
 14  unique_shipment_state                  1153915 non-null  float64
 15  avg_time_spent_on_delivery             1155509 non-null  float64
 16  avg_time_spent_on_shipment             1155509 non-null  float64
 17  avg_hour_of_a_day_to_complete_order    1155509 non-null  float64
 18  unique_days_of_week_to_complete_order  1155509 non-null  int64
 19  unique_store_id                        1155509 non-null  int64
 20  avg_rate                               767655 non-null   float64
dtypes: float64(12), int64(8), period[M](1)
memory usage: 193.9 MB

In [558]:
# Fill Null values with average
master_agg_final.unique_shipment_state = master_agg_final.groupby('phone_id')['unique_shipment_state'].apply(lambda x: x.fillna(x.mean()))
master_agg_final.unique_shipment_state = master_agg_final.unique_shipment_state.fillna(master_agg_final.unique_shipment_state.mean())

In [559]:
# Fill Null values with average
master_agg_final.avg_rate = master_agg_final.groupby('phone_id')['avg_rate'].apply(lambda x: x.fillna(x.mean()))
master_agg_final.avg_rate = master_agg_final.avg_rate.fillna(master_agg_final.avg_rate.mean())

In [560]:
master_agg_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1155509 entries, 0 to 1155508
Data columns (total 21 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   phone_id                               1155509 non-null  float64
 1   month_order_completed_tr               1155509 non-null  period[M]
 2   shipment_number                        1155509 non-null  int64
 3   total_receipt                          1155509 non-null  float64
 4   total_cost                             1155509 non-null  float64
 5   total_discount                         1155509 non-null  float64
 6   total_replaced                         1155509 non-null  float64
 7   total_cancelled                        1155509 non-null  float64
 8   shipped_item_count                     1155509 non-null  int64
 9   promo_total                            1155509 non-null  float64
 10  used_unique_platforms                  1155509 non-null  int64
 11  used_unique_os                         1155509 non-null  int64
 12  unique_dw_kind                         1155509 non-null  int64
 13  unique_ship_address_id                 1155509 non-null  int64
 14  unique_shipment_state                  1155509 non-null  float64
 15  avg_time_spent_on_delivery             1155509 non-null  float64
 16  avg_time_spent_on_shipment             1155509 non-null  float64
 17  avg_hour_of_a_day_to_complete_order    1155509 non-null  float64
 18  unique_days_of_week_to_complete_order  1155509 non-null  int64
 19  unique_store_id                        1155509 non-null  int64
 20  avg_rate                               1155509 non-null  float64
dtypes: float64(12), int64(8), period[M](1)
memory usage: 193.9 MB

In [561]:
master_agg_final.isnull().sum().sum()

0

In [562]:
master_agg_final.describe()

,phone_id,shipment_number,total_receipt,total_cost,total_discount,total_replaced,total_cancelled,shipped_item_count,promo_total,used_unique_platforms,used_unique_os,unique_dw_kind,unique_ship_address_id,unique_shipment_state,avg_time_spent_on_delivery,avg_time_spent_on_shipment,avg_hour_of_a_day_to_complete_order,unique_days_of_week_to_complete_order,unique_store_id,avg_rate
count,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06,1155509.0,1.155509e+06,1.155509e+06,1.155509e+06,1.155509e+06
mean,2.518533e+05,2.017888e+00,9.305284e+03,2.314908e+02,1.171704e+03,2.412113e+00,2.351960e+00,5.452376e+01,-1.604327e+02,2.017848e+00,2.017848e+00,2.017888e+00,2.017888e+00,9.433090e-01,1.630698e+01,0.0,1.168388e+01,2.017888e+00,2.017888e+00,4.768540e+00
std,1.974256e+05,1.122557e+01,2.173689e+04,9.337255e+02,3.925939e+03,3.669116e+00,3.858843e+00,6.334957e+01,5.113086e+02,1.122556e+01,1.122556e+01,1.122557e+01,1.122557e+01,1.977215e-01,2.364462e+01,0.0,4.490127e+00,1.122557e+01,1.122557e+01,5.587484e-01
min,2.000000e+00,1.000000e+00,5.129000e+01,0.000000e+00,-5.952300e+02,0.000000e+00,0.000000e+00,1.000000e+00,-7.191622e+04,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.722600e+04,1.000000e+00,2.884930e+03,9.800000e+01,1.954800e+02,0.000000e+00,0.000000e+00,1.900000e+01,-2.500000e+02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,0.0,8.500000e+00,1.000000e+00,1.000000e+00,4.768540e+00
50%,2.022330e+05,1.000000e+00,5.430530e+03,1.580000e+02,5.904900e+02,1.000000e+00,1.000000e+00,3.500000e+01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.800000e+00,0.0,1.140000e+01,1.000000e+00,1.000000e+00,5.000000e+00
75%,3.747700e+05,2.000000e+00,1.096684e+04,3.160000e+02,1.392170e+03,3.000000e+00,3.000000e+00,6.800000e+01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.700000e+01,0.0,1.500000e+01,2.000000e+00,2.000000e+00,5.000000e+00
max,7.193740e+05,7.346000e+03,1.215192e+07,6.605140e+05,2.093925e+06,9.400000e+01,2.670000e+02,9.230000e+03,0.000000e+00,7.346000e+03,7.346000e+03,7.346000e+03,7.346000e+03,1.000000e+00,1.221000e+03,0.0,2.300000e+01,7.346000e+03,7.346000e+03,5.000000e+00

In [566]:
master_agg_final['avg_rate'].value_counts()

5.000000    744478
4.768540    221745
4.000000     62131
4.500000     24731
3.000000     22681
             ...
4.611678         1
4.559524         1
4.470000         1
4.662963         1
4.689815         1
Name: avg_rate, Length: 1063, dtype: int64

In [567]:
master_agg_final['avg_time_spent_on_delivery'].value_counts()

3.000000      107241
2.000000       77329
4.000000       76176
5.000000       48762
6.000000       33690
               ...
42.142857          1
6.611111           1
7.352941           1
52.181818          1
169.333333         1
Name: avg_time_spent_on_delivery, Length: 5748, dtype: int64

In [568]:
master_agg_final['unique_shipment_state'].value_counts()

1.000000    1040357
0.000000      35688
0.500000      28336
0.666667      15859
0.750000       8971
             ...
0.980000          1
0.580645          1
0.978723          1
0.985075          1
0.011765          1
Name: unique_shipment_state, Length: 316, dtype: int64

In [569]:
# Save to csv
master_agg_final.to_csv('features_cleaned.csv', index=False)

In [570]:
master_agg_final.isduplicated().sum()

AttributeError: 'DataFrame' object has no attribute 'isduplicated'

## Comments

Overall, we created 20 features using the data for shipments and line items.